body {
	font-family: "Georgia", serif;
}

a:link, a:active {
	color: #113399;
	text-decoration: none;
}

a:visited {
	color: #000099;
}

a:hover {
    text-decoration: underline;
	background-color: #f9f9f9;
}

div#text {
	font-size: 1.2em;
	line-height: 135%;
}

div.article {
	width: 760px;
	margin: auto;
}

div#header {
	font-size: 12pt;
}

ul#post-list {
	list-style-type: none;
	padding-left: 0;
}

ul#post-list li {
	margin-top: 12pt;
}

ul#post-list .date {
	color: #111111;
	font-size: 90%;
}

h2 {
	font-size: 120%;
	margin: 0;
	padding: 0;
}

pre {
	margin-left: 30px;
	padding: 4px;
	background-color: #f9f9f9;
}

code {
	background-color: #f9f9f9;
}

.div-float {
	float: left;
	margin-right: 10px;
}

.div-clear {
	clear: both;
}

hr {
	border: 0;
	height: 1px;
	background: #aaa;
}
